/* ::::: http://www.doxdesk.com/style/pxtl.css ::::: */

body { font-family: "Palatino Linotype",Palatino,serif; background-color: rgb(224, 216, 208); color: rgb(48, 0, 0); margin: 0px; padding: 0px; line-height: 1.33; font-size: 100%; }
code, blockquote.code { font-family: "Lucida Console",monospace; font-size: 0.82em; }
blockquote.code code, code code { background-color: transparent; font-size: 1em; }
blockquote.code { background-color: rgb(252, 244, 240); padding: 2px 6px; border-style: solid dotted; border-width: 1px 3px; border-color: rgb(238, 230, 224); }
code { color: rgb(60, 60, 60); }
code.py { color: rgb(200, 0, 0); }
h2, h3, h4 { font-size: 130%; padding: 0px 10% 0px 15%; line-height: 1; border-width: 0px 1em 0px 0px; border-style: none solid none none; }
h2 { font-weight: bold; font-style: italic; border-color: rgb(48, 0, 0); margin-top: 2em; }
h3 { font-weight: normal; font-style: italic; border-color: rgb(140, 124, 120); margin-top: 2em; }
h4 { font-weight: normal; font-style: normal; border-color: rgb(200, 188, 176); margin-bottom: 0.5em; }
h1 { font-size: 600%; color: rgb(132, 172, 204); margin: 0px 0px -0.4em; line-height: 1; position: relative; z-index: 1; top: -0.22em; left: -0.15em; }
#subhead { font-size: 120%; position: absolute; z-index: 2; top: 0px; left: 15%; }
#nav { position: absolute; z-index: 3; top: 0.5em; right: 0px; width: 8em; margin: 0px; }
p, ul, ol { margin: 0.8em 15%; text-align: justify; }
ul, ol { padding: 0px 2em; }
li { padding: 0px; margin: 0px; }
blockquote { margin: 1em 10% 1em 20%; }
:link, :visited { color: rgb(132, 172, 204); }
:link span, :visited span { color: rgb(48, 0, 0); }
